---
layout: default
title: Essays
description: Je n’ai fait celle-ci plus longue que parce que je n’ai pas eu le loisir de la faire plus courte.            - Blaise Pascal, from “Lettres Provinciales”, 1657
---

<div class="container">
  <div class="page-section-head">
    <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.essay.essay__title }}{% endif %}</h1>
    {% if page.description %}
      <p class="page-description">{{ page.description }}</p>
    {% else site.data.settings.essay.essay__description %}
      <p class="page-description">{{ site.data.settings.essay.essay__description }}</p>
    {% endif %}
  </div>
</div>

<div class="essay-page container animate">
  <div class="row">
    {% for essay in site.essays reversed %}
      <article class="essay col col-4 col-d-6 col-t-12">
        <div class="essay__content">
          <a href="{{ essay.url }}" class="essay__image">
            <img class="lazy" data-src="{{ essay.image }}" alt="{{ essay.title }}">
          </a>
          <div class="essay__info">
            {% if essay.category %}
            <div class="essay__category">{{ essay.category }}</div>
            {% endif %}
            <h3 class="essay__title"><a href="{{ essay.url }}">{{ essay.title }}</a></h3>
            {% if essay.description %}
            <p class="essay__description">{{ essay.description }}</p>
            {% endif %}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</div>
