{% if site.data.settings.textblock.enable == true %}
<!-- begin textblock -->
<section class="textblock">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="textblock__content">
          <h1 class="textblock__title">{{ site.data.settings.textblock.textblock__title }}</h1>
          <p class="textblock__paragraph1">{{ site.data.settings.textblock.textblock__paragraph1 }}</p>
	  <p class="textblock__paragraph2">{{ site.data.settings.textblock.textblock__paragraph2 }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end textblock -->
{% endif %}