{% if site.data.settings.project.enable == true %} 
<!-- begin projects -->
<div class="container">
  <section class="section projects animate">
    <div class="row">

      <div class="col col-4 col-d-12">
        <div class="section__info">
          <h2 class="section__title">{{ site.data.settings.project.project__title }}</h2>
          {% if site.data.settings.project.project__description %}
          <p class="section__description">{{ site.data.settings.project.project__description }}</p>
          {% endif %}
          <a href="{{ '/project' | relative_url }}" class="section__link">Show all <i class="ion ion-md-arrow-forward"></i></a>
        </div>
      </div>

      <div class="col col-8 col-d-12">
        <div class="row">
          {% assign sorted = site.projects | sort: 'date' | reverse %}
          {% for project in sorted limit:4 %}
          <article class="project col col-6 col-d-12">
            <div class="project__content">
              <a href="{{ project.url }}" class="project__image">
                <img class="lazy" data-src="{{ project.image }}" alt="{{ project.title }}">
              </a>
              <div class="project__info">
                {% if project.category %}
                <div class="project__category">{{ project.category }}</div>
                {% endif %}
                <h3 class="project__title"><a href="{{ project.url }}">{{ project.title }}</a></h3>
                {% if project.description %}
                <p class="project__description">{{ project.description }}</p>
                {% endif %}
              </div>
            </div>
          </article>
          {% endfor %}
        </div>
      </div>

    </div>
  </section>
</div>
<!-- end projects -->
{% endif %}
