{% if site.data.settings.book.enable == true %}
<!-- begin books -->
<div class="container">
  <section class="section books animate">
    <div class="row">

      <div class="col col-4 col-d-12">
        <div class="section__info">
          <h2 class="section__title">{{ site.data.settings.book.book__title }}</h2>
          {% if site.data.settings.book.book__description %}
          <p class="section__description">{{ site.data.settings.book.book__description }}</p>
          {% endif %}
          <a href="{{ '/book' | relative_url }}" class="section__link">Show all<i class="ion ion-md-arrow-forward"></i></a>
        </div>
      </div>

      <div class="col col-8 col-d-12">
        <div class="row">
          {% assign sorted = site.books | sort: 'date' | reverse %}
          {% for book in sorted limit:4 %}
          <article class="book col col-6 col-d-12">
            <div class="book__content">
              <a href="{{ book.url }}" class="book__image">
                <img class="lazy" data-src="{{ book.image }}" alt="{{ book.title }}">
              </a>
              <div class="book__info">
                {% if book.category %}
                <div class="book__category">{{ book.category }}</div>
                {% endif %}
                <h3 class="book__title"><a href="{{ book.url }}">{{ book.title }}</a></h3>
                {% if book.description %}
                <p class="book__description">{{ book.description }}</p>
                {% endif %}
              </div>
            </div>
          </article>
          {% endfor %}
        </div>
      </div>

    </div>
  </section>
</div>
<!-- end books -->
{% endif %}