---
layout: default
---

<article class="post" aria-labelledby="post-title">
  <header class="page-header">
    <h1 id="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{% if page.tags %} — Tags: {% for t in page.tags %}<a href="/tags/{{ t | slugify }}/">{{ t }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}</p>
  </header>

  <section class="post-content">
    {{ content }}
  </section>

</article>
---
layout: default
---

{{ content }}
